
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400,500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold; }

button:focus {
  outline: none;
  box-shadow: none; }

.p_120 {
  padding-top: 60px;
  padding-bottom: 30px; }

.pad_top {
  padding-top: 120px; }

.mt-25 {
  margin-top: 25px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto; } }
/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  max-width: 680px;
  margin: 0px auto 75px; }
  .main_title h2 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    color: #222222;
    margin-bottom: 12px; }
  .main_title p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 24px;
    color: #777777;
    margin-bottom: 0px; }

/* End Main Title Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear; }
  .header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 12px/80px "Roboto", sans-serif;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 0px;
        display: inline-block; }
        .nav-link.scrolled {
          z-index: 1;
          color: black;
        }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: #2395FE; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff;
          box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px; } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 1px solid #ededed;
            margin-left: 0px;
            transition: all 0.4s linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
              line-height: 45px;
              color: #222222;
              padding: 0px 30px;
              transition: all 150ms linear;
              display: block;
              margin-right: 0px; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
              background: #4dbf1c;
              color: #fff; }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0px; }
    .header_area .navbar .search {
      font-size: 12px;
      line-height: 60px;
      display: inline-block;
      color: #222222;
      margin-left: 80px; }
      .header_area .navbar .search i {
        font-weight: 600; }
  .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; color: black;
    }
    #button-header::-webkit-scrollbar {
      margin-top: -10px;
    }
      .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link .active {
        color: blue;}

.top_menu {
  background: #f9f9ff; }
  .top_menu .header_social li {
    display: inline-block;
    margin-right: 15px; }
    .top_menu .header_social li a {
      font-size: 14px;
      color: #777777;
      display: inline-block;
      line-height: 42px;
      transition: all 300ms linear 0s; }
    .top_menu .header_social li:last-child {
      margin-right: 0px; }
    .top_menu .header_social li:hover a {
      color: #4dbf1c; }
  .top_menu .dn_btn {
    line-height: 42px;
    display: inline-block;
    font-size: 12px;
    margin-right: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
    transition: all 300ms linear 0s; }
    .top_menu .dn_btn:hover {
      color: #4dbf1c; }
    .top_menu .dn_btn:last-child {
      margin-right: 0px; }
  .top_menu .lan_pack {
    height: 30px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    line-height: 28px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding-left: 19px;
    padding-right: 36px;
    color: #777777;
    background: #f9f9ff;
    margin-right: 5px;
    margin-top: 8px; }
    .top_menu .lan_pack .current {
      color: #777777; }
    .top_menu .lan_pack:after {
      content: "\f0d7";
      border: none !important;
      font: normal normal normal 12px/1 FontAwesome;
      transform: rotate(0deg);
      height: auto;
      margin-top: -6px;
      right: 20px; }


.home_banner_area {
  position: relative;
  z-index: 1;
  min-height: 780px; }
  .home_banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 780px; }
    .home_banner_area .banner_inner .overlay {
      color: white;
      background: url(../image/banner/home-banner.jpg) no-repeat scroll  ;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 121%;
      bottom: 0;
      z-index: -1; }
    .home_banner_area .banner_inner .banner_content {
      color: #fff; }
      .home_banner_area .banner_inner .banner_content h5 {
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 15px; }
      .home_banner_area .banner_inner .banner_content h3 {
        font-size: 42px;
        font-family: "Playfair Display", serif;
        font-weight: 900;
        margin-bottom: 20px; }
      .home_banner_area .banner_inner .banner_content p {
        font-size: 14px;
        line-height: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        max-width: 620px;
        margin: auto; }
      .home_banner_area .banner_inner .banner_content .main_btn {
        margin-top: 40px; }

.blog_banner {
  min-height: 660px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 0px; }
  .blog_banner .banner_inner {
    background: #04091e;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 660px;
    z-index: 1; }
    .blog_banner .banner_inner .overlay {
      background: url(../img/banner/banner-2.jpg) no-repeat scroll center center;
      opacity: .5;
      height: 125%;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      z-index: -1; }
    .blog_banner .banner_inner .blog_b_text {
      max-width: 700px;
      margin: auto;
      color: #fff; }
      .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 60px;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        line-height: 66px;
        margin-bottom: 15px; }
      .blog_banner .banner_inner .blog_b_text p {
        font-size: 16px;
        margin-bottom: 35px; }
      .blog_banner .banner_inner .blog_b_text .white_bg_btn {
        line-height: 42px;
        padding: 0px 45px; }

.banner_box {
  max-width: 1620px;
  margin: auto; }

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 300px; }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 300px;
    background: #04091e;
    z-index: 1; }
    .banner_area .banner_inner .overlay {
      background: url(../img/banner/banner.jpg) no-repeat scroll center center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 125%;
      bottom: 0;
      z-index: -1;
      opacity: .6; }
    .banner_area .banner_inner .banner_content h2 {
      color: #fff;
      font-size: 48px;
      font-family: "Playfair Display", serif;
      margin-bottom: 0px;
      font-weight: bold; }
    .banner_area .banner_inner .banner_content .page_link a {
      font-size: 14px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      margin-right: 32px;
      position: relative; }
      .banner_area .banner_inner .banner_content .page_link a:before {
        content: "\e87a";
        font-family: 'Linearicons-Free';
        position: absolute;
        right: -25px;
        top: 50%;
        transform: translateY(-50%); }
      .banner_area .banner_inner .banner_content .page_link a:last-child {
        margin-right: 0px; }
        .banner_area .banner_inner .banner_content .page_link a:last-child:before {
          display: none; }
      .banner_area .banner_inner .banner_content .page_link a:hover {
        color: #4dbf1c; }


.latest_blog_inner {
  margin-bottom: -30px; }

.l_blog_item {
  margin-bottom: 30px; }
  .l_blog_item .date {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
    margin-top: 20px;
    display: block;
    margin-bottom: 15px; }
  .l_blog_item h4 {
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 20px;
    transition: all 300ms linear 0s; }
  .l_blog_item p {
    margin-bottom: 0px; }
  .l_blog_item:hover h4 {
    color: #4dbf1c; }

.single-recent-blog-post {
  margin-bottom: 30px; }
  .single-recent-blog-post .thumb {
    overflow: hidden; }
    .single-recent-blog-post .thumb img {
      transition: all 0.7s linear; }
  .single-recent-blog-post .details {
    padding-top: 30px; }
    .single-recent-blog-post .details .sec_h4 {
      line-height: 24px;
      padding: 10px 0px 13px;
      transition: all 0.3s linear; }
      .single-recent-blog-post .details .sec_h4:hover {
        color: #777777; }
  .single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400; }
  .single-recent-blog-post:hover img {
    transform: scale(1.23) rotate(10deg); }

.tags .tag_btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #eeeeee;
  display: inline-block;
  padding: 1px 18px;
  text-align: center;
  color: #222222; }
  .tags .tag_btn:before {
    background: #4dbf1c; }
  .tags .tag_btn + .tag_btn {
    margin-left: 2px; }


.footer-area {
  background: #303132; }

.single-footer-widget p {
  margin-bottom: 0px; }
.single-footer-widget .instafeed {
  margin-left: -5px;
  margin-right: -5px; }
  .single-footer-widget .instafeed li {
    margin: 5px; }
.single-footer-widget .subscribe_form {
  padding-top: 25px; }
.single-footer-widget .input-group {
  display: block !important; }
.single-footer-widget input {
  max-width: 340px;
  width: 80%;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 40px;
  padding-right: 40px;
  height: 40px;
  color: #999999;
  border-radius: 20px;
  background: #fff;
  padding-left: 20px; }
  .single-footer-widget input.placeholder {
    color: #999999; }
  .single-footer-widget input:-moz-placeholder {
    color: #999999; }
  .single-footer-widget input::-moz-placeholder {
    color: #999999; }
  .single-footer-widget input::-webkit-input-placeholder {
    color: #999999; }
  .single-footer-widget input:focus {
    outline: none; }
.single-footer-widget .sub-btn {
  background-image: linear-gradient(to right, #2c28b1 0%, #9b5cf6 51%, #2c28b1 100%);
  background-size: 200% auto;
  color: #fff;
  font-weight: 500;
  line-height: 40px;
  font-size: 12px;
  padding: 0px 38px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: -26px;
  border-radius: 20px;
  transition: all 300ms linear 0s; }
  .single-footer-widget .sub-btn:hover {
    color: #fff;
    background-position: right center; }

.ab_wd p {
  max-width: 230px; }

.contact_wd {
  margin-right: -15px; }
  .contact_wd p {
    margin-bottom: 15px; }
  .contact_wd a {
    display: block;
    color: #4dbf1c;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 10px; }
    .contact_wd a + a {
      margin-bottom: 0px; }

.tp_widgets .list li {
  margin-bottom: 12px; }
  .tp_widgets .list li a {
    color: #777777;
    font-size: 14px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    transition: all 300ms linear; }
  .tp_widgets .list li:last-child {
    margin-bottom: 0px; }
  .tp_widgets .list li:hover a {
    color: #fff; }

.news_widget {
  padding-left: 15px; }
  .news_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 15px; }
  .news_widget .input-group input {
    height: 40px;
    background: #fff;
    border-radius: 0px;
    width: 80%;
    border: none;
    padding: 0px 15px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    outline: none;
    box-shadow: none; }
    .news_widget .input-group input.placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #777777; }
    .news_widget .input-group input:-moz-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #777777; }
    .news_widget .input-group input::-moz-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #777777; }
    .news_widget .input-group input::-webkit-input-placeholder {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: normal;
      color: #777777; }
  .news_widget .input-group .sub-btn {
    border-radius: 0px;
    background: #4dbf1c;
    outline: none !important;
    box-shadow: none !important;
    padding: 0px;
    width: 42px;
    cursor: pointer;
    color: #fff; }

.footer_title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: #fff;
  margin-bottom: 28px; }

.border_line {
  width: 100%;
  height: 1px;
  background: #333333;
  margin-top: 30px; }

.footer-bottom {
  padding-top: 10px; }
  .footer-bottom .footer-text {
    color: #fff;
    opacity: .6; }
    .footer-bottom .footer-text i {
      color: #4dbf1c;
      opacity: 1; }
    .footer-bottom .footer-text a {
      color: #4dbf1c;
      opacity: 1; }
  .footer-bottom .footer-social {
    text-align: left; }
    .footer-bottom .footer-social a {
      font-size: 14px;
      line-height: 30px;
      color: #fff;
      margin-left: 6px;
      transition: all 0.3s linear;
      background: #1e2235;
      height: 30px;
      width: 30px;
      text-align: center;
      display: inline-block;
      transition: all 300ms linear 0s; }
      .footer-bottom .footer-social a:hover {
        color: #fff;
        background: #4dbf1c; }

/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
